ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
}

html {
	font-size: 62.5%;
}

h1 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

body {
	font-family: $bodyFont;
	background: $secondary;
}