footer {
    display: block;
    color: #fff;
    background-color: $primary;
    border-top: solid 1px (darken($color: $primary, $amount: 1));
}

.groupMembers ul li{
    display: flex;
    align-items: center;
    padding: .3rem 0;
}

.groupMembers{
    background: $primary;
}

.groupMembers h3{
    text-align: center;
    font-size: clamp(2rem, 3vh, 3rem);
    padding: 2rem 0 .5rem;
}

.groupMembers ul{
    width: 55%;
    margin:  0 auto;
}

.groupMembers ul li img{
    display: inline-block;
    color: #fff;
}

.groupMembers ul li a{
    font-size: clamp(1.5rem, 2vh, 2rem);
}

.groupMembers ul li a:hover{
    color: white;
    background: $primary;
}