header {
	height: 15vh;
	padding: 0 5%;
	background-color: $primary;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: solid 1px (darken($color: $primary, $amount: 1));
}

a.pageTitle {
	border-radius: 10px;
	padding: 1%;
}

h1 {
	font-family: $headingFont;
	color: #fff;
	font-size: clamp(3.3rem, 2vh, 5rem);
	position: relative;
}

h1::after {
	content: '';
	position: absolute;
	width: 100%;
	border-bottom: $accent 2px solid;
	bottom: -10px;
	right: 0;
}

.react-ripples.h1 {
	border-radius: 10px;
	width: 235px;
}

.react-ripples {
	border-radius: 5px;
}

a.pageTitle,
.bookDropdownLink,
.dropdown li {
	color: #fff;
	background-color: $primary;
	transition: filter 300ms;
}

.bookDropdownLink {
	position: relative;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	padding: 2%;
	font-size: clamp(1.8rem, 2vh, 3rem);
	font-family: $bodyFont;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bookDropdownLink a.iconButton img {
	height: 30px;
	width: 30px;
}

a.pageTitle:hover,
.bookDropdownLink:hover,
.dropdown li:hover {
	filter: brightness(1.2);
}

.dropdown {
	width: 300px;
	position: absolute;
	top: 85px;
	transform: translateX(-90%);
	display: flex;
	flex-direction: column;
}

.dropdown,
.dropdown li a.menuItem {
	border-radius: 10px;
}

.dropdown,
.dropdown li,
.dropdown li a.menuItem {
	padding: 2%;
}

.dropdown li a.menuItem {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
}

