header,
.react-ripples,
.dropdown li a.menuItem {
  width: 100%;
}

h1,
a.pageTitle,
.bookDropdownLink,
.dropdown li,
.dropdown li a.menuItem {
  color: #fff;
}

h1,
.bookDropdownLink {
  position: relative;
}

header,
a.pageTitle,
.bookDropdownLink,
.dropdown li {
  background-color: $primary;
}

a.pageTitle,
header {
  padding: 2rem 5%;
  border-bottom: solid 1px (darken($color: $primary, $amount: 1));
}

.dropdown,
.dropdown li a.menuItem,
a.pageTitle {
  border-radius: 10px;
}

.headerContent,
.bookDropdownLink,
.dropdown,
.dropdown li a.menuItem {
  display: flex;
}

.headerContent,
.bookDropdownLink,
.dropdown li a.menuItem {
  align-items: center;
}

.dropdown,
.dropdown li,
.dropdown li a.menuItem,
.bookDropdownLink {
  padding: 2%;
}

.bookDropdownLink,
.dropdown li a.menuItem {
  justify-content: center;
}

a.pageTitle:hover,
.bookDropdownLink:hover,
.dropdown li:hover {
  filter: brightness(1.2);
}


.bookDropdownLink h1 {
  font-family: $headingFont;
  font-size: clamp(3.3rem, 1vh, 5rem);
}

a.pageTitle {
  padding: 1%;
}

.bookDropdownLink a.iconButton img {
  width: 3rem;
}

.headerContent {
  justify-content: space-between;
}

.react-ripples.h1 {
  width: 23.5rem;
}

.react-ripples {
  border-radius: 5px;
}

a.pageTitle,
.bookDropdownLink,
.dropdown li {
  transition: filter 300ms;
}

.bookDropdownLink {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  font-size: clamp(1.8rem, 2vh, 3rem);
  font-family: $bodyFont;
}

.dropdown {
  width: 30rem;
  position: absolute;
  top: 85px;
  transform: translateX(-38%);
  z-index: 100;
  flex-direction: column;
}

.dropdown li a.menuItem {
  height: 100%;
}
