header {
	height: 100vh;
}

	nav.headerNav ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	h1 {
		font-family: $headingFont;
		background-color: $primary;
		color: #fff;
		font-size: clamp(2rem, 3vh, 4rem);
		text-transform: uppercase;
		margin: 0;
		padding: 3rem;
	}


	nav.headerNav ul li{
		font-size: clamp(2rem, 1vh, 3.5rem);
		padding: 2rem;
	}

	nav.headerNav ul li a {
		color: $accent;
	}

	nav.headerNav ul li a:hover {
		color: black;
	}



