// * * * * THE HOME PAGE
.intro {
  background: url(../assets/bookBackgroundWhite.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  border-radius: 15px;
}

.intro h2,
.intro p {
  width: 40%;
  text-align: center;
  margin-left: 5%;
}

.intro h2 {
  padding: 3%;
  padding-bottom: 0;
}

.intro p {
  padding: 3%;
  background: $secondary;
  border: 1px solid darken($color: $secondary, $amount: 8);
  border-radius: 15px;
  font-family: $bodyFont;
}

// * * * * THE SEARCH PAGE
main {
  min-height: 70vh;
}

form,
input {
  border: 1px solid $primary;
}

form,
.bookSearch .book button {
  display: flex;
}

input,
button,
.book {
  border-radius: 0.3rem;
}

input,
.bookSearch .book h2,
.bookInfo {
  width: 100%;
}

input,
button,
.bookSearch .book h2 {
  font-size: 2rem;
}

main {
  margin: 5%;
}

form {
  border-radius: 1.5rem;
  background: $pageBlock;
  padding: 2rem;
  flex-direction: column;
}

h2,
h3 {
  font-size: clamp(2.5rem, 3vh, 4rem);
  font-family: $headingFont;
  margin: 1% 0;
  padding: 0;
}

li {
  margin: 0;
}

p {
  font-size: clamp(1.5rem, 2vh, 2rem);
  line-height: 2.7rem;
  font-family: $bodyFont;
}

input {
  height: 4rem;
  padding-left: 1rem;
}

button {
  border-style: none;
  background: rgb(9, 4, 70);
  background: linear-gradient(
    0deg,
    rgba(9, 4, 70, 1) 0%,
    rgba(99, 113, 146, 1) 74%
  );
  color: #fff;
  font-family: $bodyFont;
  padding: 1rem 3rem;
  margin: 1rem 0;
  border-radius: 5px;
  height: 5rem;
  width: 22rem;
}

.book {
  padding: 1rem;
}

.book h3 {
  margin: 2rem 0;
}

.book {
  .imageContainer {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
    max-width: 15rem;
    max-height: 19rem
  }
  button {
    align-items: center;
  }
}

.book {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "title title title "
    "bookImage info info"
    "bookImage info info"
    "blurb blurb blurb"
    "read read . "
    "del del . ";
  max-width: 56rem;
  
  .bookmark {
    padding-bottom: 1rem;
  }

  .bookDescription {
    padding-top: 2rem;
    font-size: 1.8rem;
  }

  .moreOrLess {
    color: #000;
    font-size: 1.2rem;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0 1rem;
    font-size: 1.4rem;
  }
}

.title {
  grid-area: title;
}

.bookImage {
  grid-area: bookImage;
}

.blurb {
  grid-area: blurb;
}

.info {
  grid-area: info;
}

.readButton {
  grid-area: read;
}

.delButton {
  grid-area: del;
}

span.bookmark {
  padding-left: 1rem;
}

.bookImage img {
  max-width: 13rem;
}

button.toggledButton {
  background: rgba(99, 113, 146, 1);
}

.readMoreClass {
  color: #000;
}

.listResult,
.bookListing {
  border-radius: 15px;
  background-color: rgba(99, 113, 146, 0.2);
  padding:20px;
  margin-bottom:20px;
}

.searchButton {
  margin-right:10px;
}

.inputSearch {
  display: inline-block;
  width: 35rem;
 }

 .inputSearch button {
  background: transparent;
  border: none;
  color: $accent;
  cursor: pointer;
  display: inline-block;
  position: relative;
  bottom: 4.4rem;
  left: 86%;
  padding: 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
  z-index: 1;
 }

.inputSearch button:hover,
.inputSearch button:focus {
 color: $primary;
}

