@media (min-width: 480px) {

  .wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .book {
    p {
      font-size: 1.8rem;
    }
  }
}

@media (min-width: 600px) {
    .wrapper {
        width: 70%;
    }

    .dropdown {
        display: block;
        min-width: 100%;
        margin: auto;
	  }

	  .dropdown li {
        max-width: 300px;
        margin: 0;
    }
    
    a.pageTitle:hover,
    .bookDropdownLink:hover,
    .dropdown li:hover {
        filter: brightness(1.2);
    }

    .intro h2, .intro p {
        width: 80%;
        margin: 0 auto;
    }

    .intro h2 {
        margin-bottom: 3%;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        width: 100%;
    }

    .listResult,
    .bookListing {
        max-width: 70%;
    }
}