@media (min-width: 480px) {
    .wrapper{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
  .book {
    p{
        font-size: 1.8rem;
      }
  }
}

@media (min-width: 600px){
    .wrapper{
        width: 70%;
    }
}

@media (min-width: 1200px){
    .wrapper{
        width: 100%;
    }
    .bookResults{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}
