$primary: #637192;
// aca9bb
$secondary: #F1F8F8;
// fbdebc
$accent: #090446;
// cbe8ec
// #90F3D6 
$pageBlock: rgba(251,222,188, 0.6);

$headingFont: 'Maitree', serif;
$bodyFont: 'Montserrat', sans-serif;
