body {
  background-color: #ACA9BB;
  font-family: 'Maitree', serif;
}


/* OUR FONTS */

/* font-family: 'Maitree', serif; */
/* font-family: 'Montserrat', sans-serif; */


/* OUR COLORS */

/* background-color: #ACA9BB; */
  /* background-color: #FBDEBC;
  background-color: #CBE8EC; */